.section__feauters-content{
border-radius: 20px;
border-right-width: thick;
margin-left: 0px 0px 10px 45px;
 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.uk-grid-column-small .uk-grid-small {
  margin-left: 62px;}

.testimonial__type-star{
    color: $color__sunflower;
}
.testimonial__type-footer{
    padding: 5px;
    font-family:italic;
    color:#586b77;
}
